/Prosjekt Oppgave/newsstand-register/newsstand-register NB/nbproject/private/
/Prosjekt Oppgave/newsstand-register/newsstand-register NB/build/
/Prosjekt Oppgave/newsstand-register/newsstand-register NB/dist/
*.bluej
Prosjekt Oppgave/newsstand-register/newsstand-register/package.bluej